/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-family: "Work Sans";
  font-size: 2.4rem;
  color: #ffff;
  background-color: #1c1b1b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 3.8rem;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

.button {
  padding: 10px 50px;
  background-color: #ff0000;
  border-radius: 139px;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in;
}

.button:hover,
.button:active,
.button:focus {
  transform: scale(1.05);
  background-color: #df0000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.nav__logo {
  width: 48px;
  height: 48px;
}
.nav__row {
  display: flex;
  padding: 0 0 0 20px;
}
.nav__row li:not(:last-child) {
  margin-right: 40px;
  transition: color 0.2s ease-in;
}
.nav__row li:hover, .nav__row li:active {
  color: #ff0000;
}

.bg-screen {
  width: 100%;
  height: calc(100vh - 79px);
  background: url("../img/bg.png") center no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.bg-screen__info {
  max-width: 620px;
  margin-left: auto;
  padding-top: 60px;
  margin-right: 70px;
  filter: drop-shadow(-1px 7px 22px #000000);
}
.bg-screen__info h1 {
  margin-bottom: 20px;
}
.bg-screen__info p:not(:last-child) {
  margin-bottom: 20px;
}
.bg-screen__button {
  margin-top: 25px;
}
.bg-screen__steps {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
}
.bg-screen__steps li {
  width: 12px;
  height: 12px;
  background-color: #ffff;
  border-radius: 12px;
}
.bg-screen__steps .step:not(:last-child) {
  margin-right: 5px;
}
.bg-screen__steps li.active {
  background-color: #ff0000;
}

.services-block {
  padding: 190px 40px 0;
  overflow: hidden;
}
.services-block .container {
  position: relative;
}
.services-block .container::after {
  content: "";
  background: url("../../img/blur-elempng.png") 0 0 no-repeat;
  position: absolute;
  top: -80%;
  left: -35%;
  width: 100%;
  height: 100%;
  transform: rotate(200deg);
}
.services-block .container::before {
  content: "";
  background: url("../../img/blur-elempng.png") 0 0 no-repeat;
  position: absolute;
  bottom: 00%;
  right: -20%;
  width: 50%;
  height: 50%;
  z-index: 1;
  background-size: contain;
}

.services {
  padding-bottom: 190px;
}
.services__title {
  text-align: center;
  margin-bottom: 12px;
}
.services__title--red {
  color: #ff0000;
}
.services__descr {
  text-align: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.services__cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  max-width: 440px;
}
.card:not(:last-child) {
  margin-right: 10px;
}
.card__image {
  margin-bottom: 20px;
  max-width: 440px;
  max-height: 500px;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}
.card__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  font-weight: 700;
}
.card__descr {
  text-align: center;
  font-size: 1.8rem;
}

.safe-block {
  padding: 0 40px;
  margin-bottom: 200px;
  overflow: hidden;
}
.safe-block .container {
  position: relative;
}
.safe-block .container::before {
  content: "";
  background: url("../../img/blur-elempng.png") 0 0 no-repeat;
  position: absolute;
  bottom: -10%;
  right: -40%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: contain;
}

.safe__title {
  margin-bottom: 20px;
  text-align: center;
}
.safe__title--red {
  color: #ff0000;
}
.safe__descr {
  margin-bottom: 65px;
  text-align: center;
  max-width: 1400px;
}
.safe__flex {
  display: flex;
  justify-content: space-between;
}
.safe__info {
  max-width: 530px;
  font-size: 1.8rem;
  margin-right: 5px;
}
.safe__button {
  margin-top: 60px;
}
.safe__cards {
  display: flex;
  z-index: 5;
}
.safe__cards .card-idea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 373px;
  height: 373px;
  flex-shrink: 0;
  padding: 38px 31px;
  text-align: center;
  border-radius: 15px;
  background-color: #000;
  margin-top: 100px;
}
.safe__cards .card-idea__title {
  font-weight: 400;
  font-size: 2.4rem;
  max-width: 243px;
  margin-bottom: 20px;
}
.safe__cards .card-idea__descr {
  font-size: 1.8rem;
  margin-bottom: 28px;
}
.safe__cards .card-idea__logo {
  background-color: #ffff;
  background-position: center;
  background-size: cover;
  max-width: 82px;
  max-height: 82px;
  width: 100%;
  padding: 12px;
  border-radius: 50%;
}

.cards-column {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.cards-column .card-worker {
  width: 287px;
  height: 287px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #000;
  margin-bottom: 40px;
}
.cards-column .card-worker__title {
  font-weight: 400;
  font-size: 2.4rem;
  max-width: 240px;
  margin-bottom: 20px;
}
.cards-column .card-worker__descr {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.cards-column .card-worker__logo {
  background-color: #ffff;
  background-position: center;
  background-size: cover;
  max-width: 52px;
  max-height: 52px;
  width: 100%;
  padding: 6px;
  border-radius: 50%;
}
.cards-column .card-camera {
  width: 412px;
  height: 287px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 34px 25px;
  text-align: center;
  border-radius: 15px;
  background-color: #000;
  margin-bottom: 40px;
}
.cards-column .card-camera__title {
  font-weight: 400;
  font-size: 2.4rem;
  max-width: 335px;
  margin-bottom: 20px;
}
.cards-column .card-camera__descr {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.cards-column .card-camera__logo {
  background-color: #ffff;
  background-position: center;
  background-size: cover;
  max-width: 85px;
  max-height: 85px;
  width: 100%;
  padding: 22px 16px;
  border-radius: 50%;
}

.provide-block {
  padding: 0 40px;
  padding-bottom: 200px;
}
.provide-block .container {
  position: relative;
}
.provide-block .container::before {
  content: "";
  background: url("../../img/blur-elempng.png") 0 0 no-repeat;
  position: absolute;
  bottom: -70%;
  left: -15%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: contain;
}

.provide__title {
  text-align: center;
  margin-bottom: 12px;
}
.provide__title--red {
  color: #ff0000;
}
.provide__descr {
  text-align: center;
  max-width: 1430px;
  margin-bottom: 120px;
}
.provide__cards {
  display: flex;
  flex-wrap: wrap;
}
.provide__card {
  max-width: 346px;
  width: 100%;
  padding: 45px 23px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: background-color 0.4s ease-in;
  border: rgba(59, 59, 59, 0.295) solid 1px;
  z-index: 5;
}
.provide__card:not(:last-child) {
  margin-right: 10px;
}
.provide__card:hover, .provide__card:active, .provide__card:focus {
  background-color: #000;
}
.provide__card-logo {
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
}
.provide__card-title {
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.provide__card-descr {
  font-size: 1.8rem;
  margin-bottom: 50px;
}
.provide__card-btn {
  font-size: 1.8rem;
  padding: 8px 30px;
  margin-top: auto;
}

.contacts-block {
  padding: 0 40px 200px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 10px;
}
.contacts__title--red {
  color: #ff0000;
}
.contacts__descr {
  text-align: center;
  margin-bottom: 60px;
}
.contacts__info {
  display: flex;
  justify-content: space-between;
}
.contacts__all-contacts {
  max-width: 450px;
  z-index: 5;
  margin-right: 10px;
}
.contacts__email {
  display: flex;
  margin-bottom: 110px;
}
.contacts__email img {
  width: 50px;
  height: 50px;
  object-fit: center;
  margin-right: 25px;
}
.contacts__email-column {
  padding-top: 10px;
}
.contacts__email-title {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.contacts__email-adress {
  transition: color 0.2s ease-in;
}
.contacts__email-adress:hover {
  color: #ff0000;
}
.contacts__phone {
  display: flex;
  margin-bottom: 110px;
}
.contacts__phone img {
  width: 50px;
  height: 50px;
  object-fit: center;
  margin-right: 25px;
}
.contacts__phone-column {
  padding-top: 10px;
}
.contacts__phone-title {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.contacts__phone-adress {
  transition: color 0.2s ease-in;
}
.contacts__phone-adress:hover {
  color: #ff0000;
}
.contacts__office {
  display: flex;
}
.contacts__office img {
  width: 50px;
  height: 50px;
  object-fit: center;
  margin-right: 25px;
}
.contacts__office-column {
  padding-top: 10px;
}
.contacts__office-title {
  font-size: 2.4rem;
  margin-bottom: 15px;
}
.contacts__form {
  display: flex;
  flex-direction: column;
  background-color: #000;
  border-radius: 20px;
  padding: 50px;
  max-width: 650px;
  width: 100%;
  z-index: 5;
}
.contacts__form-name {
  position: relative;
  margin-bottom: 40px;
}
.contacts__form-name label {
  position: absolute;
  top: -25%;
  left: 2%;
  background-color: #000;
  padding: 0 5px;
}
.contacts__form-name input {
  border: 1px solid #ffff;
  display: block;
  max-width: 550px;
  width: 100%;
  border-radius: 8px;
  font-size: 2.4rem;
  height: 64px;
  padding: 0 10px;
}
.contacts__form-email {
  position: relative;
  margin-bottom: 40px;
}
.contacts__form-email label {
  position: absolute;
  top: -25%;
  left: 2%;
  background-color: #000;
  padding: 0 5px;
}
.contacts__form-email input {
  border: 1px solid #ffff;
  display: block;
  max-width: 550px;
  width: 100%;
  border-radius: 8px;
  font-size: 2.4rem;
  height: 64px;
  padding: 0 10px;
}
.contacts__form-subject {
  position: relative;
  margin-bottom: 40px;
}
.contacts__form-subject label {
  position: absolute;
  top: -25%;
  left: 2%;
  background-color: #000;
  padding: 0 5px;
}
.contacts__form-subject input {
  border: 1px solid #ffff;
  display: block;
  max-width: 550px;
  width: 100%;
  border-radius: 8px;
  font-size: 2.4rem;
  height: 64px;
  padding: 0 10px;
}
.contacts__form-message {
  position: relative;
  margin-bottom: 40px;
}
.contacts__form-message label {
  position: absolute;
  top: -6%;
  left: 2%;
  background-color: #000;
  padding: 0 5px;
}
.contacts__form-message textarea {
  border: 1px solid #ffff;
  display: block;
  max-width: 550px;
  width: 100%;
  border-radius: 8px;
  font-size: 2.4rem;
  height: 250px;
  padding: 15px;
  resize: none;
}
.contacts__form-btn {
  align-self: center;
}

.footer-block {
  overflow: hidden;
}
.footer-block .container {
  position: relative;
}
.footer-block .container::before {
  content: "";
  background: url("../../img/blur-elempng.png") 0 0 no-repeat;
  position: absolute;
  top: 0%;
  right: -50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.footer {
  padding: 35px 40px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
}
.footer__left {
  width: 250px;
  z-index: 5;
  padding-top: 165px;
}
.footer__left li {
  transition: color 0.2s ease-in;
}
.footer__left li:hover {
  color: #ff0000;
}
.footer__left li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  z-index: 5;
  width: 165px;
  height: 165px;
  margin-bottom: 60px;
  position: relative;
}
.footer__logo::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: calc(100% + 70px);
  height: 0.5px;
  width: 2000px;
  background-color: #fff;
  z-index: 1;
}
.footer__logo::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: calc(100% + 70px);
  height: 0.5px;
  width: 2000px;
  background-color: #fff;
  z-index: 1;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__socials {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 310px;
}
.footer__socials::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  top: calc(0% + 100px);
  left: 50%;
  height: 105px;
  width: 0.5px;
  background-color: #fff;
}
.footer__socials img {
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.footer__socials li:not(:last-child) {
  margin-right: 5px;
}
.footer__socials li {
  transition: transform 0.2s ease-in;
}
.footer__socials li:hover {
  transform: scale(1.1);
}
.footer__right {
  width: 250px;
  z-index: 5;
  padding-top: 165px;
}
.footer__right li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__right li {
  transition: color 0.2s ease-in;
}
.footer__right li:hover {
  color: #ff0000;
}
.footer__form {
  display: flex;
  justify-content: center;
}
.footer__form-email {
  z-index: 5;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 6px 0px 0px 6px;
  padding-left: 30px;
  padding-right: 10px;
  color: #fff;
  width: 321px;
  height: 51px;
  font-size: 1.8rem;
}
.footer__form-btn {
  z-index: 5;
  padding: 11px 47px;
  background-color: #c4c4c4;
  border-radius: 0px 6px 6px 0px;
  color: #000;
  transition: all 0.2s ease-in;
}
.footer__form-btn:hover, .footer__form-btn:active, .footer__form-btn:focus {
  background-color: #ff0000;
  color: #ffff;
}

/*# sourceMappingURL=main.css.map */
