html {
	font-size: 10px;
}

body {
	font-family: "Work Sans";
	font-size: 2.4rem;
	color: $main2;
	background-color: $main1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 3.8rem;
}

.container {
	max-width: 1512px;
	margin: 0 auto;
}
