.footer-block {
	overflow: hidden;

	.container {
		position: relative;
		&::before {
			content: "";
			background: url("../../img/blur-elempng.png") 0 0 no-repeat;
			position: absolute;
			top: 0%;
			right: -50%;
			transform: translateX(-50%);
			width: 100%;
			height: 100%;
			z-index: 1;
			background-size: cover;
			background-position: center;
		}
	}
}

.footer {
	padding: 35px 40px;
	@media screen and (max-width: 750px) {
		padding-right: 10px;
		padding-left: 10px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 125px;
	}

	&__left {
		z-index: 5;
		padding-top: 165px;
		li {
			transition: color 0.2s ease-in;
			&:hover {
				color: $main3;
			}
		}
		li:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__centre {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		z-index: 5;
		max-width: 165px;
		max-height: 165px;
		width: 100%;
		margin-bottom: 60px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			left: calc(100% + 70px);
			height: 0.5px;
			width: 2000px;
			background-color: #fff;
			z-index: 1;
		}
		&::before {
			content: "";
			position: absolute;
			transform: translateY(-50%);
			top: 50%;
			right: calc(100% + 70px);
			height: 0.5px;
			width: 2000px;
			background-color: #fff;
			z-index: 1;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__socials {
		z-index: 5;
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 310px;
		margin: 0 20px;
		@media screen and (max-width: 750px) {
			width: 200px;
		}

		&::after {
			content: "";
			position: absolute;
			transform: translateX(-50%);
			top: calc(0% + 100px);
			left: 50%;
			height: 105px;
			width: 0.5px;
			background-color: #fff;
		}

		img {
			width: 36px;
			height: 36px;
			object-fit: cover;
		}

		li:not(:last-child) {
			margin-right: 5px;
		}
		li {
			transition: transform 0.2s ease-in;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__right {
		z-index: 5;
		padding-top: 165px;
		text-align: justify;
		li:not(:last-child) {
			margin-bottom: 20px;
		}
		li {
			transition: color 0.2s ease-in;
			&:hover {
				color: $main3;
			}
		}
	}

	&__form {
		display: flex;
		justify-content: center;

		&-email {
			z-index: 5;
			background: rgba(196, 196, 196, 0.2);
			border-radius: 6px 0px 0px 6px;
			padding-left: 30px;
			padding-right: 10px;
			color: #fff;
			max-width: 321px;
			height: 51px;
			width: 100%;

			font-size: 1.8rem;
		}

		&-btn {
			z-index: 5;
			padding: 11px 47px;
			background-color: #c4c4c4;
			border-radius: 0px 6px 6px 0px;
			color: #000;
			transition: all 0.2s ease-in;
			@media screen and (max-width: 450px) {
				padding: 11px 15px;
			}
			&:hover,
			&:active,
			&:focus {
				background-color: $main3;
				color: $main2;
			}
		}
	}
}
