.screens {
	position: absolute;
	overflow: hidden;
	display: flex;
	z-index: 4;

	img {
		min-height: 100%;
		object-fit: cover;
		width: 100vw;
		min-width: 100%;
		height: calc(100vh - 79px);
		min-height: 650px;
		@media screen and (max-width: 750px) {
			height: 100vh;
		}
	}
}

.bg-screen {
	width: 100%;
	min-height: 650px;
	position: relative;
	z-index: 5;
	padding-bottom: 150px;
	min-height: calc(100vh - 79px);
	@media screen and (max-width: 750px) {
		padding-top: 50px;
		padding-bottom: 50px;
		height: 100vh;
	}

	&__info {
		max-width: 620px;
		margin-left: auto;
		padding-top: 10%;
		margin-right: 70px;
		text-shadow: 1px 2px 1px #000;
		filter: drop-shadow(-1px 7px 22px #000000);

		h1 {
			margin-bottom: 20px;
		}
		p:not(:last-child) {
			margin-bottom: 20px;
		}

		@media screen and (max-width: 750px) {
			text-align: center;
			max-width: 100%;
			margin: 0;
			padding: 10% 20px;
		}
	}

	&__button {
		margin-top: 25px;
	}

	&__steps {
		position: absolute;
		display: flex;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		margin-bottom: 30px;
		@media screen and (max-width: 750px) {
			bottom: -30px;
			margin-bottom: 5px;
		}

		li {
			width: 12px;
			height: 12px;
			background-color: $main2;
			border-radius: 12px;
		}
		& .step:not(:last-child) {
			margin-right: 5px;
		}
		& li.active {
			background-color: $main3;
		}
	}
}
