.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 15px 40px;

	@media screen and (max-width: 750px) {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 11;
	}

	&__burger {
		position: fixed;
		top: 15;
		right: 0;
		max-width: 25px;
		display: none;
		margin-right: 15px;
		cursor: pointer;
		transition: transform 0.2s ease-in;
		&:hover,
		&:focus,
		&:active {
			transform: scale(1.2);
		}
		img {
			width: 100%;
		}
		@media screen and (max-width: 750px) {
			display: block;
		}
	}

	&__logo {
		width: 48px;
		height: 48px;
		@media screen and (max-width: 750px) {
			width: 35px;
			height: 35px;
		}
	}
	&__row {
		display: flex;
		padding: 0 0 0 20px;

		& li:not(:last-child) {
			margin-right: 40px;
			transition: color 0.2s ease-in;
		}
		& li:hover,
		& li:active {
			color: $main3;
		}
		@media screen and (max-width: 750px) {
			display: none;
		}
	}
}
