.provide-block {
	padding: 0 40px;
	padding-bottom: 200px;
	overflow: hidden;

	.container {
		position: relative;
		&::before {
			content: "";
			background: url("../../img/blur-elempng.png") 0 0 no-repeat;
			position: absolute;
			bottom: -70%;
			left: -15%;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-size: contain;
		}
	}
}

.provide {
	&__title {
		text-align: center;
		margin-bottom: 12px;
		&--red {
			color: $main3;
		}
	}

	&__descr {
		text-align: center;
		max-width: 1430px;
		margin-bottom: 120px;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
	}

	&__card {
		max-width: 346px;
		width: 100%;
		padding: 45px 23px;
		border-radius: 15px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		transition: background-color 0.4s ease-in;
		border: rgba(59, 59, 59, 0.295) solid 1px;
		z-index: 5;
		&:not(:last-child) {
			margin-right: 10px;
		}

		&:hover,
		&:active,
		&:focus {
			background-color: #000;
		}
	}

	&__card-logo {
		margin-bottom: 25px;
		width: 100px;
		height: 100px;
	}

	&__card-title {
		font-weight: 500;
		font-size: 2.4rem;
		margin-bottom: 15px;
	}

	&__card-descr {
		font-size: 1.8rem;
		margin-bottom: 50px;
	}

	&__card-btn {
		font-size: 1.8rem;
		padding: 8px 30px;
		margin-top: auto;
	}
}
