.services-block {
	padding: 190px 40px 0;

	overflow: hidden;
	.container {
		position: relative;
		&::after {
			content: "";
			background: url("../../img/blur-elempng.png") 0 0 no-repeat;
			position: absolute;
			top: -80%;
			left: -35%;
			width: 100%;
			height: 100%;
			transform: rotate(200deg);
		}
		&::before {
			content: "";
			background: url("../../img/blur-elempng.png") 0 0 no-repeat;
			position: absolute;
			bottom: 00%;
			right: -20%;
			width: 50%;
			height: 50%;
			z-index: 1;
			background-size: contain;
		}
	}
}

.services {
	padding-bottom: 190px;

	&__title {
		text-align: center;
		margin-bottom: 12px;

		&--red {
			color: $main3;
		}
	}

	&__descr {
		text-align: center;
		max-width: 1400px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
	}

	&__cards {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.card {
	max-width: 440px;
	&:not(:last-child) {
		margin-right: 10px;
	}
	&__image {
		margin-bottom: 20px;
		max-width: 440px;
		max-height: 500px;
		border-radius: 15px;
		object-fit: cover;
		width: 100%;
	}

	&__title {
		margin-bottom: 20px;
		text-align: center;
		font-weight: 400;
		font-size: 2.4rem;
		font-weight: 700;
	}

	&__descr {
		text-align: center;
		font-size: 1.8rem;
	}
}
